body {
    background-image: url(cover1.jpeg);
    background-size: cover;
    padding: 1px;
    margin: 1px;
}

.course {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    border-radius: 5px;
    color: white;
    background-size: cover;
    margin: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

.details {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 3px;
}

options {
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    text-align: right;
    padding: 1px;
    margin: 2px;
    margin-top: 5px;
    margin-left: 20px;
    line-height: 2;
}

options a {
    text-decoration: none;
    color: black;
}

.content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(129, 201, 167, 0.63);
    border:3px solid rgb(55, 112, 112);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    line-height: 2;
}

summary {
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: space-between;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50%;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
}