header{
    padding-top: 5px;
    padding-bottom: 20px;
}

.fire {
    font-family:fantasy;
    letter-spacing: 9px;
    font-optical-sizing:auto;
    font-style: normal;
    font-size: 100%;
}

body{
    background-color: black;
}

.home{
    background-color: transparent;
    color: rgb(247, 236, 236);
    border-radius: 25px;
    margin: 1px;
    padding: 1px;
    border-top: 3px solid;
    border-color: rgb(236, 179, 156);
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70%;
    margin-bottom: 20px;
}

.items {
    background-color: white;
    color: #ffffff;
    border-radius: 25px;
    margin: 1px;
    padding: 1px;
    border: 2px solid black;
    text-align: center;
    font-size: 60%;
    margin-bottom: 20px;
}

nav .education {
    background-image: url(education.jpeg);
    background-size: cover;
}

nav .movies {
    background-image: url(movies.png);
    background-size: cover;
}

nav .novels {
    background-image: url(novels.jpeg);
    background-size: cover;
}

nav .exchange {
    background-image: url(exchange.jpeg);
    background-size: cover;
}

nav .market {
    background-image: url(market_place.jpeg);
    background-size: cover;
}

nav .investments {
    background-image: url(investments.jpeg);
    background-size: cover;
}

nav .blog {
    background-image: url(blog.jpg);
    background-size: cover;
}

.home header2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.nav-top{
    display: flex;
    justify-content:right;
    align-items: right;
    padding: 10px;
    border-bottom: 2px solid #444;
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
}

.nav-item {
    flex-basis: 25%;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 120%;
}

.info {
    border-radius: 10px;
    border: none;
    background-color: rgba(5, 22, 77, 0.486);
    color: white;
    font-size: 60%;
}

.faq {
    text-decoration: none;
    border-radius: 0px;
    background-color: rgb(163, 161, 161);
    color: black;
    margin: 1px;
    padding: 3px;
}

footer {
    margin: 0px;
    padding: 2px;
    color: white;
    text-align: right;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50%;
    font-weight: bold;
}

nav a {
    font-size: 320%;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    border-radius: 15px;
    border-width: 100%;
    border: 3px solid rgb(36, 90, 92);
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    flex-basis: 25%;
    margin: 5px;
    line-height: 1;
    padding: 18%;
    display:block;
}

.coming-soon {
    font-family: cursive;
    font-size: 200%;
    color: black;
    font-weight: bold;
}