body {
    background-image: url(cover8.jpg);
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
}

.images {
    margin: 10px;
    line-height: 1px;
}

img {
    border: none;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 15px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    object-fit: cover;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 3px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50%;
    text-align: right;
}

.ask-question {
    position: fixed;
    bottom: 25px;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
}

.ask-question img {
    width: 60px;
}